<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
    </style>
    <title>Document</title>
</head>

<body>
    <div class="row-g-3">
        <h1>
            AnimeList
        </h1>
        <div class="col-sm-7">
            <label for="" class="form-label">Título do anime</label>
            <input type="text" class="form-control" placeholder="Nome" aria-label="Nome">
        </div>

        <div class="container-dataHora">
            <div class="col-sm">
                <label for="" class="form-label">Episódios Assistidos</label>
                <input type="text" class="form-control" placeholder="Episódios Assistidos" aria-label="Episodios">
            </div>
            <div class="col-sm">
                <label for="" class="form-label">Nota</label>
                <input type="text" class="form-control" placeholder="Nota" aria-label="Nota">
            </div>
        </div>
        <div class="container-dataHora">
            <div class="col-sm">
                <label for="" class="form-label">Data de início</label>
                <input type="date" class="form-control" placeholder="Episódios Assistidos" aria-label="Episodios">
            </div>
            <div class="col-sm">
                <label for="" class="form-label">Data de término</label>
                <input type="date" class="form-control" placeholder="Nota" aria-label="Nota">
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</body>

</html>