<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Editar Anime</h1>
    <form method="post" action="/atualizarAnime" th:object="${anime}">
      <!-- Campos de edição preenchidos com os detalhes do anime -->
      <div class="form-group">
        <label for="">Título do Anime</label>
        <input
          class="form-control"
          type="text"
          th:field="*{titulo}"
          placeholder="Título"
        />
      </div>
      <!-- Outros campos para edição -->

      <button type="submit" class="btn btn-primary" style="margin-top: 12px">
        Atualizar
      </button>
    </form>
  </body>
</html>
